<script type="text/x-template" id="al-input-template">
  <input type="search" v-model="search" placeholder="search" class="w-80 f2 mh2 mv2 ph2 pv2 br2 b--black-10 input-reset">
</script>
<script>
Vue.component('al-input', {
  template: '#al-input-template',
  data() {
    let parent;
    if (this.$parent.appId) {
      parent = this.$parent;
    } else if (this.alSearch) {
      parent = this.alSearch;
    } else {
      throw Error('this isn\'t a direct child of al-search or you forgot the v-bind:al-search');
    }
    return {
      search: '',
      parent
    }
  },
  props: {
    alSearch: Object
  },
  watch: {
    search() {
      this.parent.setQuery(this.search);
    }
  }
});
</script>
