<script type="text/x-template" id="al-stats-template">
  <p>{{parent.stats.hits}} hits in {{parent.stats.time}}ms</p>
</script>
<script>
Vue.component('al-stats', {
  template: '#al-stats-template',
  data() {
    let parent;
    if (this.$parent.appId) {
      parent = this.$parent;
    } else if (this.alSearch) {
      parent = this.alSearch;
    } else {
      throw Error('this isn\'t a direct child of al-search or you forgot the v-bind:al-search');
    }
    return {
      parent
    };
  },
  props: {
    alSearch: Object
  }
});
</script>
