doctype html
include includes/head.html
body.mw8.center.ph2.avenir
  #app
    al-search(app-id='XCG7JJBBFK', api-key='e3d622501fbbe065394049f746b16314', :facets="['category']")
      .w-100.flex.items-center.flex-column.mv2
        .flex.items-center
          a(href='https://algolia.com')
            img.w3(src='https://www.algolia.com/static_assets/images/press/downloads/algolia-light.svg', alt='logo of Algolia', title='Algolia')
          span.mh2(title='plus') &#xFF0B;
          a(href='https://vuejs.org')
            img.w3(src='https://s.haroen.me/img/vue.svg', alt='logo of vue', title='Vue')
        al-input
      al-facet(name='category')
      al-sort(:options="[{index: 'appstore_rating_asc',name: 'Rank ascending'}, {index: 'appstore_rating_desc',name: 'Rank descending'}]")
      al-results
  footer.tc.o-60
    p
      | Built by&#32;
      a(href="https://haroen.me") Haroen Viaene
      | &#32;for&#32;
      a(href="https://www.algolia.com") Algolia
      | &#32;with&#32;
      a(href="https://github.com/algolia/algoliasearch-client-js") Algolia search
      | ,&#32;
      a(href="https://vuejs.org") Vue 2
      | &#32;and&#32;
      a(href="http://tachyons.io") Tachyons
      | . Code available on&#32;
      a(href="https://github.com/Haroenv/algolia-technical-test") GitHub
      |.
  script(src='https://unpkg.com/vue@2.0.1/dist/vue.min.js')
  script(src='https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js')
  script(src='https://cdn.jsdelivr.net/algoliasearch.helper/2.14.0/algoliasearch.helper.min.js')
  include components/al-search.html
  include components/al-input.html
  include components/al-facet.html
  include components/al-pagination.html
  include components/al-result.html
  include components/al-results.html
  include components/al-sort.html
  include components/al-stats.html
  script.
    new Vue({el: '#app'});
