<!DOCTYPE html>

<head>
  <title>Algolia technical test</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.3/css/tachyons.min.css" />
  <style>
  .bg-none {
    background-color: transparent;
  }

  .hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  </style>
  <!-- todo -->
</head>

<body class="mw8 center ph2">
  <div id="app">
    <div class="w-100 flex items-center flex-column mv2">
      <div class="flex items-center">
        <a href="https://algolia.com"><img src="https://www.algolia.com/static_assets/images/press/downloads/algolia-light.svg" alt="logo of Algolia" title="Algolia" class="w3"></a>
        <span class="mh2" title="plus">＋</span>
        <a href="https://vuejs.org"><img src="https://s.haroen.me/img/vue.svg" alt="logo of vue" title="Vue" class="w3"></a>
      </div>
      <al-input :helper="helper"></al-input>
    </div>
    <al-categories :categories="categories" :helper="helper"></al-categories>
    <al-sort :options="options" :helper="helper"></al-sort>
    <al-results :stats="stats" :pagination="pagination" :helper="helper" :results="results"></al-results>
  </div>
  <script src="https://rc.vuejs.org/js/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
  <script src="https://cdn.jsdelivr.net/algoliasearch.helper/2.14.0/algoliasearch.helper.min.js"></script>
  <script type="text/x-template" id="al-stats-template">
    <p>{{hits}} hits in {{time}}ms</p>
  </script>
  <script type="text/x-template" id="al-result-template">
    <article class="dt w-100 bb b--black-05 pb2 mt2">
      <a :href="result.link" class="dtc w2 w3-ns v-mid">
        <img :src="result.image" class="ba b--black-10 db br4 w2 w3-ns h2 h3-ns pointer">
      </a>
      <div class="dtc v-mid pl3">
        <h1 class="f6 f5-ns fw6 lh-title black mv0"><a v-html="result._highlightResult.name.value" :href="result.link" class="link black"></a></h1>
        <span class="f6 fw4 mt0 mb0 black-60" v-html="result.category"></span>
      </div>
      <div class="dtc v-mid">
        <div class="w-100 tr">
          <a :href="result.link" class="f6 button-reset bg-white ba b--black-10 dim pointer pv1 ph1 black-60">iTunes</a>
        </div>
      </div>
    </article>
  </script>
  <script type="text/x-template" id="al-pagination-template">
    <nav v-if="total > 1" class="ph3 ph5-ns pv4">
      <div class="nowrap overflow-x-auto">
        <a @click="paginate(n - 1)" :class="(n - 1 === current ? 'black ' : 'gray ') +'link dim f5 f4-ns dib mh2 pointer'" v-for="n of total">{{n}}</a>
      </div>
    </nav>
  </script>
  <script type="text/x-template" id="al-categories-template">
    <article>
      <h1 class="hidden">category</h1>
      <div>
        <button v-for="category of categories" v-if="category" class="f6 link dim br-pill ba b--black-10 bw1 ph3 pv2 mb2 mr1 dib bg-none" @click="refine(category.name)">{{category.name}} ({{category.count}})</button>
      </div>
    </article>
  </script>
  <script type="text/x-template" id="al-sort-template">
    <article>
      <select v-model="index">
        <option :value="option.index" v-for="option of options">{{option.name}}</option>
      </select>
    </article>
  </script>
  <script type="text/x-template" id="al-results-template">
    <section>
      <h2>Results</h2>
      <div>
        <al-stats :hits="stats.hits" :time="stats.time"></al-stats>
        <article v-if="results.length === 0" class="center">no results</article>
        <al-result v-for="result of results" :result="result"></al-result>
      </div>
      <al-pagination :current="pagination.current" :total="pagination.total" :helper="helper"></al-pagination>
    </section>
  </script>
  <script type="text/x-template" id="al-input-template">
    <input type="search" v-model="search" class="w-80 f2 mh2 mv2 ph2 pv2 br2 b--black-10">
  </script>
  <script>
  const client = algoliasearch('XCG7JJBBFK', 'e3d622501fbbe065394049f746b16314');
  const helper = algoliasearchHelper(client, 'appstore', {
    facets: ['category']
  });

  Vue.component('al-stats', {
    template: '#al-stats-template',
    props: {
      hits: Number,
      time: Number
    }
  });

  Vue.component('al-result', {
    template: '#al-result-template',
    props: {
      result: Object
    }
  });

  Vue.component('al-results', {
    template: '#al-results-template',
    props: {
      stats: Object,
      pagination: Object,
      results: Array,
      helper: Object
    }
  });

  Vue.component('al-pagination', {
    template: '#al-pagination-template',
    props: {
      current: Number,
      total: Number,
      helper: Object
    },
    methods: {
      paginate(page) {
        helper.setPage(page).search();
      }
    }
  });

  Vue.component('al-categories', {
    template: '#al-categories-template',
    props: {
      categories: Array,
      helper: Object
    },
    methods: {
      refine(category) {
        helper.toggleRefinement('category', category).search();
      }
    }
  });

  Vue.component('al-sort', {
    template: '#al-sort-template',
    data() {
      return {
        index: ''
      }
    },
    props: {
      options: Array,
      helper: Object
    },
    watch: {
      index: (val) => {
        helper.setIndex(val).search();
      }
    }
  });

  Vue.component('al-input', {
    template: '#al-input-template',
    data() {
      return {
        search: ''
      }
    },
    props: {
      helper: Object
    },
    watch: {
      search: (val) => {
        helper.setQuery(val).search();
      }
    }
  });

  const vm = new Vue({
    el: '#app',
    data: {
      results: [],
      pagination: {
        total: 0,
        current: 1
      },
      categories: [],
      options: [{
        index: 'appstore_rating_asc',
        name: 'Rank ascending'
      }, {
        index: 'appstore_rating_desc',
        name: 'Rank descending'
      }],
      stats: {
        time: 0,
        hits: 0,
      },
      helper: helper
    },
    methods: {
      queryDone(content) {
        this.results = content.hits;
        this.pagination = {
          total: content.nbPages,
          current: content.page
        };
        this.stats = {
          time: content.processingTimeMS,
          hits: content.nbHits
        };
        this.categories = content.getFacetValues('category');
      }
    }
  });
  helper.on('result', vm.queryDone);
  helper.search();
  </script>
</body>
